::selection {
  color: coral;
}

/* Styles for desktop view / large screens*/
@media (min-width: 1024px) {
  /*bg*/

  .ligs {
    width: 3%;
    --g: 170%;
  }

  /*home*/
  nav {
    justify-content: space-around;
  }

  button.menu {
    display: none;
  }

  img.wissenaire {
    width: 100px;
  }

  ul.navs {
    position: fixed;
    right: 18%;
  }

  div.ca {
    flex-direction: row;
    font-size: 3rem;
  }

  div#navitems {
    display: block;
    float: left;
    width: 75%;
    font-size: 25px;
  }

  li.nav-item {
    margin: 2rem 3.5%;
  }

  div.info {
    width: 45%;
    margin: 5% 2.5%;
  }

  img.caimg {
    width: 50%;
    margin: 3% 5%;
  }

  /*responsibilities*/

  .row {
    display: flex;
  }

  div.containerg {
    --c: 15deg;
    width: 20%;
    height: 21rem;
    max-width: 420px;
    margin: 2% 1% 8% 4%;
  }

  .card__content {
    transform: rotateX(-90deg);
  }

  .card img {
    width: 60%;
  }

  .containerg:hover img {
    scale: 0.7;
    opacity: 0.2;
  }

  p.card__description {
    margin-top: 5rem;
    font-size: 1.1rem;
  }

  /*incentives*/

  .slider {
    height: 500px;
  }

  .item {
    width: 320px;
    height: 450px;
  }

  /*contact*/

  ul.links {
    width: 60%;
  }

  /*contact_form*/

  fieldset {
    width: 550px;
  }

  .inputBox {
    margin: 0.5px;
  }
}

/* Styles for small screens / small-laptops */
@media (max-width: 1024px) and (min-width: 801px) {
  .ligs {
    width: 4%;
    --g: 150%;
  }

  button.menu {
    display: none;
  }

  img.wissenaire {
    width: 100px;
    left: 10px;
  }

  div#navitems {
    display: block;
    width: 68%;
    margin: 2.25rem 4.2%;
    font-size: 1.5rem;
    float: right;
  }

  ul.navs {
    position: fixed;
    right: 18%;
    top: 0.8rem;
  }

  li.nav-item {
    margin: 4% 3%;
  }

  div.info {
    font-size: 3rem;
    width: 45%;
    margin: 5% 2.5%;
  }

  img.caimg {
    width: 50%;
    margin: 3% 2%;
  }

  /*responsibilities*/

  .row {
    display: flex;
    position: relative;
    height: 60vh;
  }

  div.containerg {
    position: absolute;
    --c: 10deg;
    width: 30%;
    height: 48%;
  }

  div.containerg:nth-child(1) {
    top: 25%;
    left: 5%;
    height: 50%;
  }

  div.containerg:nth-child(2) {
    top: 1%;
    left: 37.5%;
  }

  div.containerg:nth-child(3) {
    top: 25%;
    left: 70%;
    height: 50%;
  }

  div.containerg:nth-child(4) {
    top: 52%;
    left: 37%;
  }

  .card__content {
    position: relative;
    transform: rotateX(-90deg);
  }

  .card img {
    width: 60%;
  }

  .containerg:hover img {
    scale: 0.7;
    opacity: 0.2;
  }

  p.card__description {
    font-size: 0.85rem;
    margin-top: 28%;
  }

  /*incentives*/

  .slider {
    height: 500px;
  }

  .item {
    width: 325px;
    height: 450px;
  }

  /*contact*/

  ul.links {
    width: 60%;
  }

  /*contact_form*/

  fieldset {
    width: 550px;
  }

  .inputBox {
    margin: 0.5px;
  }
}

/* Media query for tablets/mobiles */
@media (max-width: 800px) {
  .ligs {
    width: 6%;
    --g: 130%;
  }

  nav {
    flex-direction: column;
  }

  div.small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  button.menu {
    border-left: 70%;
    display: block;
  }

  img.wissenaire {
    width: 6rem;
    left: 10px;
  }

  div#navitems {
    position: fixed;
    background: radial-gradient(#0c0c32 75%, #191919 100%);
    background-size: 99vw 220vh;
    top: 5.5rem;
    width: 100%;
    font-size: 25px;
  }

  .remove {
    transform: translateY(-125px) scaleY(0);
    opacity: 0;
  }

  ul.navs {
    flex-direction: column;
  }

  li.nav-item {
    text-align: center;
    margin: 0.2% 2%;
  }

  div.ca {
    flex-direction: column;
    font-size: 3.5rem;
  }

  div.info {
    width: 90%;
    margin: 5% 5%;
  }

  img.caimg {
    width: 80%;
    margin: 15% 12.5%;
  }

  /*respnsibilities*/

  .row {
    display: grid;
    justify-items: center;
  }

  div.containerg {
    --c: 10deg;
    width: 80%;
    margin: 5%;
    height: 20rem;
  }

  .card__content {
    position: relative;
    transform: rotateX(0);
  }

  .card img {
    width: 70%;
  }

  p.card__description {
    font-size: 1rem;
    margin-top: 12.5rem;
  }

  /*incentives*/

  .slider {
    height: 450px;
  }

  .item {
    width: 300px;
    height: 400px;
  }

  /*contact*/
  /*
  ul.links {
    width: 100%;
  }*/

  .icon--instagram {
    background-image: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    border-color: #a02d76;
  }

  .icon--twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
  }

  .icon--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
  }

  .icon--facebook {
    background-color: rgb(40, 85, 182);
    border-color: rgb(40, 85, 182);
  }

  /*contact_form*/

  fieldset {
    width: 80%;
    max-width: 550px;
  }

  .inputBox {
    margin: 1vh 0px;
  }
}
