@import url("../fonts/style.css");
@import url("../responsive.css");

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#0c0032 55%, #191919 100%);
    background-attachment: fixed;
}

#About{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container2{
    width: 100%;
    
    padding: 150px 15vw;
    
    align-items: center;
}

.card{
    width: 100%;
    height: auto;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.card-inner{
    text-align: center;
    
    
    font-family: Raleway;
    width: inherit;
    height: inherit;
    padding: 3vw 2vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card-inner h1{
    margin-bottom: 10px;
    font-family: "Exo SemiBold Italic";
    font-size: 2.5rem;
}

.card-inner p{
    font-size: large;
    letter-spacing: 0px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.2rem;
    font-family: monospace;
}

.circle{
    width: 100px;
    height: 100px;
    background: radial-gradient(#ffef0f, #dfef53);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1){
   top: -25px;
   left: -25px;
}

.circle:nth-child(2){
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
 }

 @keyframes move-up6 {
    to{
        transform: translateY(-10px);
    }
 }
 @keyframes move-down1 {
    to{
        transform: translateY(-10px);
    }
 }