@import url("../responsive.css");
@import url("../fonts/style.css");

* {
  padding: 0;
  margin: 0;
}

/*bg*/

@property --g {
  syntax: "<length>";
  inherits: false;
  initial-value: 50%;
}

#lig {
  position: fixed;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  z-index: -3;
  filter: blur(1%);
}

.ligs {
  height: 10%;
  position: fixed;
  animation: down 10s infinite linear ;
  background-color: rgb(145, 145, 145);
  transition: all linear;
  opacity: 0.5;
  border-radius: 20%;
  transform-origin: bottom center;
  box-shadow: -4px -2px 25px 0px #6ac5f2,
    4px 5px 25px 0px rgba(199, 7, 238, 0.48);
}

@keyframes down {
  from {
    top: 0;
    transform: scaleY(1) scaleX(1);
  }
  to {
    top: var(--g);
    margin-left: 50px;
  }
}

/*properties*/

span.heading {
  position: absolute;
  width: 0;
  height: 0;
  transform: translateY(-5rem);
}

@property --a {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --b {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --c {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HOME*/

body {
  background: radial-gradient(#0c0c32 55%, #191919 100%);
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  height: 6rem;
  width: 100vw;
  z-index: 3;
  background: radial-gradient(#0c0c32 55%, #191919 100%);
  background-size: 100vw 100vh;
}

img.wissenaire {
  position: relative;

  height: 6rem;
}

button {
  border: 0ch;
}

button.menu {
  right: 5%;
  margin: 3.5rem 2rem 1rem 3rem;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.3s;
}

.zero {
  opacity: 0;
  transform: translateX(50px);
}

ul.navs {
  display: flex;
  list-style: none;
  mix-blend-mode: lighten;
}

.navitems {
  transition: 0.3s;
}

a {
  text-decoration: none;
}

a.navs {
  font-family: "Exo SemiBold Italic";
  color: #ffffff;
  text-shadow: 8px 6px 6px #00a5a590;
}

div.ca {
  margin-top: 8rem;
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
}

div.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.catxt {
  margin-bottom: 10%;
  color: #89d2dc;
  font-family: "Exo SemiBold Italic";
}

div.wiss {
  font-family: "acme";
  color: #ffb845;
}

img.caimg {
  height: fit-content;
  filter: drop-shadow(-5px 5px 5px #00ffe175);
}

.home {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

button.signup {
  background: linear-gradient(
    135deg,
    rgb(255, 60, 0) calc(var(--a) / 5),
    rgb(255, 251, 0) var(--a),
    rgb(115, 255, 0) 100%
  );
  text-align: center;
  position: relative;
  margin-top: 40px;
  font-size: 35px;
  padding: 3px 50px;
  width: fit-content;
  border-radius: 200px;
  box-shadow: -4px -2px 25px 0px #6ac5f2,
    4px 5px 25px 0px rgba(199, 7, 238, 0.48);
  text-shadow: -2px -3px #0410fa90;
  transition: --a 0.9s, text-shadow 0.5s, box-shadow 0.8s;
}

a#signup {
  color: #0c0c32;
  font-family: "Exo SemiBold Italic";
}

button.signup:hover {
  box-shadow: -4px -2px 40px 0px rgba(199, 7, 238, 0.48),
    4px 5px 40px 0px #6ac5f2;
  text-shadow: 2px 3px #0410fa90;
  --a: 100%;
}

/*ABOUT*/

#About {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container2 {
  width: 100%;
  padding: 200px 15vw;
  align-items: center;
}

.card_about {
  width: 100%;
  height: auto;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  background-color: #ffffff07;
}

.card-inner {
  text-align: center;
  font-family: Raleway;
  width: inherit;
  height: inherit;
  padding: 3vw 2vw;
  background: rgba(23, 23, 23, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card-inner h1 {
  margin-bottom: 10px;
  font-family: "acme";
  z-index: 2;
  color: #02f4d3;
  font-size: 3rem;
}

.card-inner p {
  font-size: large;
  font-family: "Exo SemiBold Italic";
  font-weight: 500;
  color: rgba(253, 253, 253, 1);
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  word-spacing: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ffef0f, #dfef53);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(-10px);
  }
}

/*RESPONSIBILITIES*/

.card {
  display: flex;
  overflow: hidden;
  position: relative;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 20px;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  background: #000000;
  width: 95%;
  height: 95%;
  max-width: 400px;
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.containerg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    from var(--b),
    white 0deg var(--a),
    black 180deg 360deg
  );
  border-radius: 20px;
  animation: change 15s ease infinite;
  animation: threed 10s linear infinite;
  transition: --c 0.4s linear, all 1s linear;
  transform: translateX(50%);
}

.container:nth-child(even) {
  animation-delay: -5s;
}

@keyframes threed {
  0%,
  100% {
    transform: perspective(750px) rotate3d(1, 1, 0, var(--c));
  }

  12.5% {
    transform: perspective(750px) rotate3d(0, 1, 0, var(--c));
  }

  25% {
    transform: perspective(750px) rotate3d(-1, 1, 0, var(--c));
  }

  37.5% {
    transform: perspective(750px) rotate3d(-1, 0, 0, var(--c));
  }

  50% {
    transform: perspective(750px) rotate3d(-1, -1, 0, var(--c));
  }

  62.5% {
    transform: perspective(750px) rotate3d(0, -1, 0, var(--c));
  }

  75% {
    transform: perspective(750px) rotate3d(1, -1, 0, var(--c));
  }

  87.5% {
    transform: perspective(750px) rotate3d(1, 0, 0, var(--c));
  }

  100% {
    --b: -360deg;
  }
}

.containerg:hover {
  animation-play-state: paused;
  --c: 0deg;
  background: white;
}

.card img {
  fill: #333;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 50;
}

.card :hover {
  transform: scale(1.05);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.containerg:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #ffb845;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: "acme";
}

.card__description {
  position: absolute;
  color: #ffb845;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
  bottom: 0;
  font-family: "Exo SemiBold Italic";
}

.row {
  width: 100%;
  justify-content: space-evenly;
}

p.ca {
  width: 100%;
  text-align: center;
  color:white;
  align-items: center;
  font-weight: 500;
  font-size: 3rem;
  font-family: "Exo SemiBold Italic";
}

.bb {
  color:white;
  text-align: center;
  font-weight: 500;;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-family: "acme";
}

/*INCENTIVES*/

.incen-content {
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading h1 {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 3rem;
  background: transparent;
  font-family: "Exo SemiBold Italic";
}

.incen-caro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-content: center;
}

.item {
  position: absolute;
  text-align: justify;
  background: #6d6b74;
  border-radius: 10px;
  transition: 0.5s;
  object-fit: cover;
  top: 0;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-name {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 5;
  z-index: 2;
  transform: translateX(-50%);
  transition: 1s;
  text-align: center;
  top: 10px;
  font-weight: bold;
  color: #380000;
  font-family: "acme";
}

#next,
#prev {
  position: absolute;
  align-items: center;
  height: 450px;
  color: #fff;
  background-color: transparent;
  border: none;
  width: 35%;
  z-index: 2;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 5vw;
}

div.trir {
  width: 2px;
  height: 2px;
  border-top: 10px;
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid rgb(255, 28, 28);
}

div.tril {
  width: 2px;
  height: 2px;
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid rgb(28, 247, 255);
}

#next {
  display: grid;
  justify-items: end;
  left: unset;
  right: 5vw;
}

/*CONTACT*/

.carrier {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #000000;
  padding-top: 60px;
}

.headings {
  font-size: 3rem;
  text-align: center;
  color:white;
  font-family: "Exo SemiBold Italic";
}

.information {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.25rem;
  color: #c2e4ff;
  font-family: "acme";
  padding-bottom: 20px;
}

div#heading {
  font-size: 1.5rem;
}

a#wissenaire_web {
  display: flex;
  justify-content: center;
}

#links {
  align-items: center;
  justify-content: center;
}

.triangle {
  margin: 0.7rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(28, 247, 255);
}

/*
ul.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
}

li.link {
  width: 40px;
  height: 40px;
  margin: 0px 6% 0px 0px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 3px solid aqua;
  border-top: 1px solid aqua;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  padding: 5px;
}

a.link {
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}*/

.sc-icons {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  column-gap: 25px;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  border-radius: 60%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  column-gap: 25px;
  align-items: center;
}

/*
span.fa-facebook {
  color: rgb(40, 85, 182);
  font-size: 30px;
}

span.fa-linkedin-in {
  color: rgb(30, 48, 80);
  font-size: 30px;
}

span.fa-twitter {
  color: rgb(0, 172, 238);
  font-size: 30px;
}

span.fa-instagram {
  color: rgb(195, 11, 85);
  font-size: 30px;
}

li.link:hover {
  transition: all 700ms;
  opacity: 2;
  transform: scale(1.1);
}
*/

.icon:hover {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--facebook:hover {
  background-color: rgb(40, 85, 182);
  outline-color: rgb(40, 85, 182);
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}
