@import url("../fonts/style.css");
@import url("../responsive.css");
body {
  background: radial-gradient(#0c0032 55%, #191919 100%);
  background-attachment: fixed;
}

.incen-content {
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading h1 {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: xx-large;
  background: transparent;
  font-family: "Exo SemiBold Italic";
}

.incen-caro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-content: center;
}

.item {
  position: absolute;
  text-align: justify;
  background:#6d6b74;
  border-radius: 10px;
  transition: 0.5s;
  object-fit: cover;
  top: 0;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item-name {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 5;
  z-index: 2;
  transform: translateX(-50%);
  transition: 1s;
  text-align: center;
  top: 0px;
  font-weight: bolder;
  color: #380000;
  font-family: "acme";
  letter-spacing: 1px;
}

#next,
#prev {
  position: absolute;
  align-items: center;
  height: 450px;
  color: #fff;
  background-color: transparent;
  border: none;
  width: 35%;
  z-index: 2;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 5vw;
}

div.trir {
  width: 2px;
  height: 2px;
  border-top: 10px;
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid rgb(255, 28, 28);
}

div.tril {
  width: 2px;
  height: 2px;
  border-radius: 9050px;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid rgb(28, 247, 255);
}

#next {
  display: grid;
  justify-items: end;
  left: unset;
  right: 5vw;
}
